<!-- 1 -->
<div class="row">
    <div class="col-lg-6">
        <div class="dark-theme">
            <canvas id="get_rotatorcuff_pathologies_with_counts" #get_rotatorcuff_pathologies_with_counts></canvas>
        </div>
    </div>
</div>

<!-- 2 -->
<br /> <br />
<div class="row">
    <div class="col-lg-6">
        <div class="dark-theme">
            <canvas id="get_prevalence_of_rotatorcuff_pathology_with_comorbidities_by_age_and_sex"
                #get_prevalence_of_rotatorcuff_pathology_with_comorbidities_by_age_and_sex></canvas>
        </div>
    </div>
</div>

<!-- 3 -->
<br /> <br />
<div class="row">
    <div class="col-lg-6">
        <div class="dark-theme">
            <canvas id="get_prevalence_of_Neer3_by_age_and_sex" #get_prevalence_of_Neer3_by_age_and_sex></canvas>
        </div>
    </div>
</div>

<!-- 4 -->
<br /> <br />
<div class="row">
    <div class="col-lg-6">
        <div class="dark-theme">
            <canvas id="get_hemiarthroplasty_by_age_and_sex" #get_hemiarthroplasty_by_age_and_sex></canvas>
        </div>
    </div>
</div>

<!-- 6 -->
<br /> <br />
<div class="row">
    <div class="col-lg-6">
        <div class="dark-theme">
            <canvas id="get_anatomic_total_shoulder_arthroplasty_by_age_and_sex"
                #get_anatomic_total_shoulder_arthroplasty_by_age_and_sex></canvas>
        </div>
    </div>
</div>

<!-- 7 -->
<br /> <br />
<div class="row">
    <div class="col-lg-6">
        <div class="dark-theme">
            <canvas id="get_shoulder_arthroplasty_by_indication" #get_shoulder_arthroplasty_by_indication></canvas>
        </div>
    </div>
</div>

<!-- 8 -->
<br /> <br />
<div class="row">
    <div class="col-lg-6">
        <div class="dark-theme">
            <canvas id="get_reverse_total_shoulder_arthroplasty_by_age_and_sex"
                #get_reverse_total_shoulder_arthroplasty_by_age_and_sex></canvas>
        </div>
    </div>
</div>

<!-- 9 -->
<br /> <br />
<div class="row">
    <div class="col-lg-6">
        <div class="dark-theme">
            <canvas id="get_shoulder_arthroplasty_by_indication"
                #get_reverse_shoulder_arthroplasty_by_indication></canvas>
        </div>
    </div>
</div>

<!-- 10 -->
<br /> <br />
<div class="row">
    <div class="col-lg-6">
        <div class="dark-theme">
            <canvas id="get_shoulder_arthroplasty_by_age" #get_shoulder_arthroplasty_by_age></canvas>
        </div>
    </div>
</div>

<!-- 11 -->
<br /> <br />
<div class="row">
    <div class="col-lg-6">
        <div class="dark-theme">
            <canvas id="get_shoulder_arthroplasty_by_sex" #get_shoulder_arthroplasty_by_sex></canvas>
        </div>
    </div>
</div>

<!-- 12 -->
<br /> <br />
<div class="row">
    <div class="col-lg-6">
        <div class="dark-theme">
            <canvas id="get_shoulder_arthoplasty_revision_rate_by_age"
                #get_shoulder_arthoplasty_revision_rate_by_age></canvas>
        </div>
    </div>
</div>

<!-- 13 -->
<br /> <br />
<div class="row">
    <div class="col-lg-6">
        <div class="dark-theme">
            <canvas id="get_shoulder_arthoplasty_revision_rate_by_sex"
                #get_shoulder_arthoplasty_revision_rate_by_sex></canvas>
        </div>
    </div>
</div>

<!-- 14 -->
<br /> <br />
<div class="dark-theme1">
    <canvas id="get_shoulder_arthroplasty_by_complication" #get_shoulder_arthroplasty_by_complication></canvas>
</div>

<!-- 15 -->
<br /> <br />
<div class="dark-theme1 p-5">
    <canvas id="get_prosthesis_company_frequency_by_age_group" #get_prosthesis_company_frequency_by_age_group></canvas>
</div>

<!-- 16 -->
<br /> <br />
<div class="dark-theme1 p-0">
    <canvas id="get_prosthesis_company_frequency_by_indication"
        #get_prosthesis_company_frequency_by_indication></canvas>
</div>

<!-- 17 -->
<br /> <br />
<div class="dark-theme1">
    <canvas id="get_revision_rates_of_prosthesis_company_by_indication"
        #get_revision_rates_of_prosthesis_company_by_indication></canvas>
</div>
