<div class="our-center col-lg-8 justified-text">
    <h1>Our Center:</h1>
    <p class="">
        "Puerto Rico Orthopedic Epidemiological Center (PRO Tracker) strives to lead the way in groundbreaking research
        and innovation, driven by a commitment to improving patient care. Through rigorous recollection of
        epidemiological data, we strive to unravel the complexities of orthopedic health, paving the path for
        evidence-based interventions and personalized treatments. By bridging the gap between research and patient care,
        we aim to empower individuals, healthcare providers, and policymakers with the knowledge and tools needed to
        optimize orthopedic outcomes and enhance overall well-being.
    </p>
</div>


<div class="our-values col-lg-8 justified-text">
    <h1>Our Values:</h1>
    <p >Innovation: We believe in the power of innovation to transform healthcare. By embracing creativity and curiosity,
        we push the boundaries of knowledge and develop novel approaches to address complex research questions in
        orthopedic epidemiology.
    </p>
    <p>
        Impact: We are committed to generating research outcomes that have tangible implications for society,
        healthcare, policy, and industry. By translating our findings into actionable insights and evidence-based
        practices, we aim to contribute to positive change and advancement in orthopedic care.
    </p>
    <p>
        Collaboration: We recognize that collaboration is key to driving innovation and achieving our collective goals.
        We foster a collaborative environment where diverse perspectives are valued, and teamwork is encouraged.
    </p>
    <p>
        Excellence: We are dedicated to excellence in all aspects of our work. From research methodologies to data
        analysis and interpretation, we uphold the highest standards to ensure the validity and reliability of our
        findings.
    </p>
    <p>
        Integrity: We uphold the highest ethical standards in all aspects of our work, including honesty, transparency,
        and adherence to professional codes of conduct.
    </p>

</div>


<div class="row justify-content-center text-center pt-4">
    <h1>Our Founders:</h1>
    <div class="col-lg-4 d-flex">
        <div class="card me-3">
            <img src="../../../../../assets/imgs/Picture1.png" class="card-img-top" alt="Placeholder Image">
            <div class="card-body">
                <h5 class="card-title">Card Title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card">
            <img src="../../../../../assets/imgs/Picture2.png" class="card-img-top" alt="Placeholder Image">
            <div class="card-body">
                <h5 class="card-title">Card Title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>


</div>