.container {
    width:40%;
    margin: auto;
    // padding: 1% 5% 2% 5%;
    padding-top: 1%;
    padding-bottom: 2%;
    text-align: center;
    // height: 100vh;
    form {
        padding: 1% 5% 2% 5%;
        text-align: left;
        margin: 1%;
        background-color: transparent;
    }
}